local/
.idea/
/backups/
*.py[co]
.Makefile.swp

apps/__pycache__/
apps/videos/__pycache__/
apps/videos/migrations/__pycache__/
conf/__pycache__/

/assets/static/bower_components/
/assets/static_root/
/assets/media_root/
