{% extends 'videos/base.html' %}
{% load staticfiles %}

{% block title %}{{ block.super }} | List{% endblock title %}

{% block header %}
Video: List
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {% for video in video_list %}
                <div>{{ video.id }}. {{ video.title }}</div>
                <div style="max-width: 500px;">{{ video.embed_code|safe }}</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
