{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | List
{% endblock title %}

{% block header %}
    Video {{ video.id }}
{% endblock header %}

{% block content %}
    <p>{{ video.title }}</p>
    <div style="width: 500px;">{{ video.embed_code|safe }}</div>
    <p>{{ video.created }}</p>
    <p>{{ video.changed }}</p>
    <p>{{ video.modified }}</p>
    <a href="{% url 'video:list' %}" class="btn btn-default btn-xs">Home</a>
    <a href="{% url 'video:update' video.slug %}" class="btn btn-warning btn-xs">Update</a>
    <a href="{% url 'video:delete' video.slug %}" class="btn btn-danger btn-xs">Delete</a>
{% endblock content %}
