{% extends 'base.html' %}

{% load djmoney %}
{% money_localize money %}

{% block title %}
    {{ block.super }} | Detail
{% endblock title %}

{% block header %}
    Course {{ course.id }}
{% endblock header %}

{% block content %}
    <p>{{ course.title }}</p>
    <p>{{ course.description }}</p>
    {% if course.is_owner %}
        Owned
    {% else %}
        {% money_localize course.price off %}
    {% endif %}
    <p>
        <a href="{% url 'course:list' %}" class="btn btn-default btn-xs">Home</a>
        <a href="{% url 'course:update' course.slug %}" class="btn btn-warning btn-xs">Update</a>
        <a href="{% url 'course:delete' course.slug %}" class="btn btn-danger btn-xs">Delete</a>
    </p>

    <div>
        <h3>Lecture</h3>
        {% for lecture in course.lecture_set.all %}
            <p>
{#                {{ forloop.counter }}.#}
                {{ lecture.order }}
                <a href="{% url 'course:lecture_detail' course.slug lecture.slug %}">{{ lecture.title }}</a>
            </p>
        {% empty %}
            No lectures found
        {% endfor %}
    </div>
{% endblock content %}