{% extends 'base.html' %}

{% load djmoney %}
{% money_localize money %}

{% block title %}{{ block.super }} | Courses{% endblock title %}

{% block header %}
    Courses
    <a href="{% url 'course:create' %}" class="btn btn-success btn-xs">Add Course</a>
{% endblock header %}

{% block content %}
    <div class="container">
        {% include 'courses/snippets/course_search_form.html' with request=request %}

        <div class="row">
            <div class="col-xs-4">
            {% for course in course_list %}<br>
                    {{ forloop.counter }}.
                    <a href="{% url 'course:detail' course.slug %}">{{ course.title }}</a>
                    <small>{{ course.lecture_set.count }} lectures</small> |
                    {% if course.is_owner %}
                       <b>owned</b>
                    {% else %}
                        Price: {% money_localize course.price off %}
                        <a href="{% url 'course:purchase' course.slug %}" class="btn btn-info btn-xs">Buy</a>
                    {% endif %}
            {% empty %}
                <div class="col-xs-4">No videos found!</div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}