{% extends 'base.html' %}


{% block title %}{{ block.super }} | Courses{% endblock title %}

{% block header %}
    Courses
    <a href="{% url 'course:create' %}" class="btn btn-success btn-xs">Add Course</a>
{% endblock header %}

{% block content %}
    <div class="container">
        {% include 'courses/snippets/course_search_form.html' with request=request %}

        <div class="row">
            {% for course in course_list %}
                <div class="col-xs-4">
                    <h2>{{ course.id }}. {{ course.title }}</h2>
                    <p>{{ course.description }}</p>
                    <p><small>{{ course.lecture_set.count }} lectures</small></p>
                    <p>
                        <a href="{% url 'course:detail' course.slug %}" class="btn btn-default btn-xs">View</a>
                        <a href="{% url 'course:update' course.slug %}" class="btn btn-default btn-xs">Update</a>
                        <a href="{% url 'course:delete' course.slug %}" class="btn btn-danger btn-xs">Delete</a>
                    </p>
                </div>
            {% empty %}
                <div class="col-xs-4">No videos found!</div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}