{% extends 'base.html' %}
{% load djmoney %}
{% money_localize money %}

{% block title %}{{ block.super }} | Courses{% endblock title %}

{% block header %}
    Courses
    <a href="{% url 'course:create' %}" class="btn btn-success btn-xs">Add Course</a>
{% endblock header %}

{% block content %}
    <div class="container">
        {% include 'courses/snippets/course_search_form.html' with request=request %}

        <DIV class="row">
            {% for course in course_list %}
                <div class="col-xs-4">
                    <h2>{{ course.order }}. {{ course.title }}</h2>
                    <p>
                        <small>{{ course.lecture_set.count }} lectures</small> |
                        {% if course in request.user.mycourses.courses.all %}
                           <b>owned</b>
                        {% else %}
                            Price: {% money_localize course.price off %}
                            <button class="btn btn-info btn-xs">Buy</button>
                        {% endif %}
                    </p>
                    <p>
                        <a href="{% url 'course:detail' course.slug %}" class="btn btn-default btn-xs">View</a>
                        <a href="{% url 'course:update' course.slug %}" class="btn btn-default btn-xs">Update</a>
                        <a href="{% url 'course:delete' course.slug %}" class="btn btn-danger btn-xs">Delete</a>
                    </p>
                </div>
            {% empty %}
                <div class="col-xs-4">No videos found!</div>
            {% endfor %}
        </DIV>
    </DIV>
{% endblock content %}